textarea {
    width: 100%;
    height: 400px;
}

body {
    display: flex;
    background-color: darkslategray;
}

#textarea {
    margin: auto;
    width: 60%;
    height: 400px;
}

#letters {
    width: 15%;
    margin: 0;
}