body {
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(bgImg.jpg);
    background-size: cover;
}
#container{
    height: 520px;
    width: 600px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 7px 7px 8px #1f2a3d;
    background-color: #1f2a3d;
}
#title{
    height: 50px;
    width: 600px;
    color: white;
    background-color: #1f2a3d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
#list{
    height: 470px;
    width: 300px;
    background-color: #394761;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    float: left;
}
#description{
    margin-left: 300px;
    position: absolute;
    visibility: hidden;
    height: 470px;
    width: 300px;
    background-color: #7c91b4;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    
}
textarea{
    position: absolute;
    margin-left: 20px;
    margin-top: 18px;
    height: 430px;
    width: 250px;
    border-radius: 10px;
    resize: none;
}
#tasks{
    height: 410px;
}
.task{
    height: 40px;
    width: 200px;
    background-color: #627494;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: 0px;
}
.task:focus{
    height: 38px;
    width: 196px;
    background-color: #627494;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: 0px;
}
.basket{
    height: 25px;
    width: 25px;
    background-color: #1f2a3d;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 25px;
    position: absolute;
    cursor: pointer;
    outline: 0;
    border: 0px;
    background-image: url(basket.png);
}
#operations{
    height: 40px;
}
#add{
    font-size: 30px;
    width: 40px;
    height: 40px;
    background-color: #7c91b4;
    border: 5px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
    position: absolute;
    cursor: pointer;
    outline: 0;
}
#taskInput{
   margin: 20px 0px 0px 30px;
}
.checkbox{
    height: 20px;
    width: 20px;
    margin-right: 150px;
    position: relative;
    float: left;
}
p{
    position: absolute;
    float: left;
    top: -10px;
    margin-left: 30px;
    text-align: left;
    overflow: hidden;
}
