{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="./static/notes/notes.css">
<script src="./static/notes/notes.js"></script>
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark">
{% endblock %}
{% block content%}
<div id="container">
  <div id="checklist">
    <div id="title"><h1 style="text-align: center">Checklist</h1></div>
    <div id="list">
      <div id="operations">
        <input type="text" id="taskInput" maxlength="60" />
        <button id="add" onclick="addTask()">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus" viewBox="0 3 20 10">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
      </div>
      <div id="tasks"></div>
    </div>
    <div id="description"></div>
  </div>
</div>
{% endblock %}
